Assets/Svn/ForieroNotationSystem/NSMusicXML/MusicXML/schema/midixml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://tempuri.org/midixml" elementFormDefault="qualified" targetNamespace="http://tempuri.org/midixml" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NoteOn">
    <xs:complexType>
      <xs:attribute name="Channel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
            <xs:enumeration value="5" />
            <xs:enumeration value="6" />
            <xs:enumeration value="7" />
            <xs:enumeration value="8" />
            <xs:enumeration value="9" />
            <xs:enumeration value="10" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Note" type="xs:NMTOKEN" use="required" />
      <xs:attribute name="Velocity" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="NoteOff">
    <xs:complexType>
      <xs:attribute name="Channel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
            <xs:enumeration value="5" />
            <xs:enumeration value="6" />
            <xs:enumeration value="7" />
            <xs:enumeration value="8" />
            <xs:enumeration value="9" />
            <xs:enumeration value="10" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Note" type="xs:NMTOKEN" use="required" />
      <xs:attribute name="Velocity" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="PolyKeyPressure">
    <xs:complexType>
      <xs:attribute name="Channel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
            <xs:enumeration value="5" />
            <xs:enumeration value="6" />
            <xs:enumeration value="7" />
            <xs:enumeration value="8" />
            <xs:enumeration value="9" />
            <xs:enumeration value="10" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Note" type="xs:NMTOKEN" use="required" />
      <xs:attribute name="Pressure" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ControlChange">
    <xs:complexType>
      <xs:attribute name="Channel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
            <xs:enumeration value="5" />
            <xs:enumeration value="6" />
            <xs:enumeration value="7" />
            <xs:enumeration value="8" />
            <xs:enumeration value="9" />
            <xs:enumeration value="10" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Control" type="xs:NMTOKEN" use="required" />
      <xs:attribute name="Value" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProgramChange">
    <xs:complexType>
      <xs:attribute name="Channel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
            <xs:enumeration value="5" />
            <xs:enumeration value="6" />
            <xs:enumeration value="7" />
            <xs:enumeration value="8" />
            <xs:enumeration value="9" />
            <xs:enumeration value="10" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Number" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChannelKeyPressure">
    <xs:complexType>
      <xs:attribute name="Channel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
            <xs:enumeration value="5" />
            <xs:enumeration value="6" />
            <xs:enumeration value="7" />
            <xs:enumeration value="8" />
            <xs:enumeration value="9" />
            <xs:enumeration value="10" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Pressure" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="PitchBendChange">
    <xs:complexType>
      <xs:attribute name="Channel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
            <xs:enumeration value="5" />
            <xs:enumeration value="6" />
            <xs:enumeration value="7" />
            <xs:enumeration value="8" />
            <xs:enumeration value="9" />
            <xs:enumeration value="10" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Value" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllSoundOff">
    <xs:complexType>
      <xs:attribute name="Channel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
            <xs:enumeration value="5" />
            <xs:enumeration value="6" />
            <xs:enumeration value="7" />
            <xs:enumeration value="8" />
            <xs:enumeration value="9" />
            <xs:enumeration value="10" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetAllControllers">
    <xs:complexType>
      <xs:attribute name="Channel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
            <xs:enumeration value="5" />
            <xs:enumeration value="6" />
            <xs:enumeration value="7" />
            <xs:enumeration value="8" />
            <xs:enumeration value="9" />
            <xs:enumeration value="10" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocalControl">
    <xs:complexType>
      <xs:attribute name="Channel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
            <xs:enumeration value="5" />
            <xs:enumeration value="6" />
            <xs:enumeration value="7" />
            <xs:enumeration value="8" />
            <xs:enumeration value="9" />
            <xs:enumeration value="10" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="off" />
            <xs:enumeration value="on" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllNotesOff">
    <xs:complexType>
      <xs:attribute name="Channel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
            <xs:enumeration value="5" />
            <xs:enumeration value="6" />
            <xs:enumeration value="7" />
            <xs:enumeration value="8" />
            <xs:enumeration value="9" />
            <xs:enumeration value="10" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="OmniOff">
    <xs:complexType>
      <xs:attribute name="Channel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
            <xs:enumeration value="5" />
            <xs:enumeration value="6" />
            <xs:enumeration value="7" />
            <xs:enumeration value="8" />
            <xs:enumeration value="9" />
            <xs:enumeration value="10" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="OmniOn">
    <xs:complexType>
      <xs:attribute name="Channel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
            <xs:enumeration value="5" />
            <xs:enumeration value="6" />
            <xs:enumeration value="7" />
            <xs:enumeration value="8" />
            <xs:enumeration value="9" />
            <xs:enumeration value="10" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonoMode">
    <xs:complexType>
      <xs:attribute name="Channel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
            <xs:enumeration value="5" />
            <xs:enumeration value="6" />
            <xs:enumeration value="7" />
            <xs:enumeration value="8" />
            <xs:enumeration value="9" />
            <xs:enumeration value="10" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Value" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="PolyMode">
    <xs:complexType>
      <xs:attribute name="Channel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
            <xs:enumeration value="5" />
            <xs:enumeration value="6" />
            <xs:enumeration value="7" />
            <xs:enumeration value="8" />
            <xs:enumeration value="9" />
            <xs:enumeration value="10" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ControlChange14">
    <xs:complexType>
      <xs:attribute name="Channel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
            <xs:enumeration value="5" />
            <xs:enumeration value="6" />
            <xs:enumeration value="7" />
            <xs:enumeration value="8" />
            <xs:enumeration value="9" />
            <xs:enumeration value="10" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Control" type="xs:NMTOKEN" use="required" />
      <xs:attribute name="Value" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="RPNChange">
    <xs:complexType>
      <xs:attribute name="Channel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
            <xs:enumeration value="5" />
            <xs:enumeration value="6" />
            <xs:enumeration value="7" />
            <xs:enumeration value="8" />
            <xs:enumeration value="9" />
            <xs:enumeration value="10" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="RPN" type="xs:NMTOKEN" use="required" />
      <xs:attribute name="Value" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="NRPNChange">
    <xs:complexType>
      <xs:attribute name="Channel" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
            <xs:enumeration value="5" />
            <xs:enumeration value="6" />
            <xs:enumeration value="7" />
            <xs:enumeration value="8" />
            <xs:enumeration value="9" />
            <xs:enumeration value="10" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="NRPN" type="xs:NMTOKEN" use="required" />
      <xs:attribute name="Value" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SysEx">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="SysExDeviceID" />
        <xs:element ref="SysExChannel" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="SysExDeviceID">
    <xs:complexType>
      <xs:attribute default="1" name="Multiplier" type="xs:NMTOKEN" />
      <xs:attribute default="0" name="Offset" type="xs:NMTOKEN" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SysExChannel">
    <xs:complexType>
      <xs:attribute default="1" name="Multiplier" type="xs:NMTOKEN" />
      <xs:attribute default="0" name="Offset" type="xs:NMTOKEN" />
    </xs:complexType>
  </xs:element>
  <xs:element name="MTCQuarterFrame">
    <xs:complexType>
      <xs:attribute name="MessageType" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="FrameLSNibble" />
            <xs:enumeration value="FrameMSNibble" />
            <xs:enumeration value="SecsLSNibble" />
            <xs:enumeration value="SecsMSNibble" />
            <xs:enumeration value="MinsLSNibble" />
            <xs:enumeration value="MinsMSNibble" />
            <xs:enumeration value="HrsLSNibble" />
            <xs:enumeration value="HrsMSNibbleSMPTEType" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DataNibble" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SongPositionPointer">
    <xs:complexType>
      <xs:attribute name="Position" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SongSelect">
    <xs:complexType>
      <xs:attribute name="Number" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="TuneRequest">
    <xs:complexType />
  </xs:element>
  <xs:element name="TimingClock">
    <xs:complexType />
  </xs:element>
  <xs:element name="Start">
    <xs:complexType />
  </xs:element>
  <xs:element name="Continue">
    <xs:complexType />
  </xs:element>
  <xs:element name="Stop">
    <xs:complexType />
  </xs:element>
  <xs:element name="ActiveSensing">
    <xs:complexType />
  </xs:element>
  <xs:element name="SystemReset">
    <xs:complexType />
  </xs:element>
  <xs:element name="Delta" type="xs:string" />
  <xs:element name="Absolute" type="xs:string" />
  <xs:element name="Event">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="Delta" />
          <xs:element ref="Absolute" />
        </xs:choice>
        <xs:choice>
          <xs:element ref="NoteOn" />
          <xs:element ref="NoteOff" />
          <xs:element ref="PolyKeyPressure" />
          <xs:element ref="ControlChange" />
          <xs:element ref="ProgramChange" />
          <xs:element ref="ChannelKeyPressure" />
          <xs:element ref="PitchBendChange" />
          <xs:element ref="AllSoundOff" />
          <xs:element ref="ResetAllControllers" />
          <xs:element ref="LocalControl" />
          <xs:element ref="AllNotesOff" />
          <xs:element ref="OmniOff" />
          <xs:element ref="OmniOn" />
          <xs:element ref="MonoMode" />
          <xs:element ref="PolyMode" />
          <xs:element ref="SequenceNumber" />
          <xs:element ref="TextEvent" />
          <xs:element ref="CopyrightNotice" />
          <xs:element ref="TrackName" />
          <xs:element ref="InstrumentName" />
          <xs:element ref="Lyric" />
          <xs:element ref="Marker" />
          <xs:element ref="CuePoint" />
          <xs:element ref="ProgramName" />
          <xs:element ref="DeviceName" />
          <xs:element ref="Port" />
          <xs:element ref="MIDIChannelPrefix" />
          <xs:element ref="EndOfTrack" />
          <xs:element ref="SetTempo" />
          <xs:element ref="SMPTEOffset" />
          <xs:element ref="TimeSignature" />
          <xs:element ref="KeySignature" />
          <xs:element ref="SequencerSpecific" />
          <xs:element ref="OtherMetaEvent" />
          <xs:element ref="SystemExclusive" />
          <xs:element ref="EndOfExclusive" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SequenceNumber">
    <xs:complexType>
      <xs:attribute name="Value" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="TextEvent" type="xs:string" />
  <xs:element name="CopyrightNotice" type="xs:string" />
  <xs:element name="TrackName" type="xs:string" />
  <xs:element name="InstrumentName" type="xs:string" />
  <xs:element name="Lyric" type="xs:string" />
  <xs:element name="Marker" type="xs:string" />
  <xs:element name="CuePoint" type="xs:string" />
  <xs:element name="MIDIChannelPrefix">
    <xs:complexType>
      <xs:attribute name="Value" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndOfTrack">
    <xs:complexType />
  </xs:element>
  <xs:element name="SetTempo">
    <xs:complexType>
      <xs:attribute name="Value" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SMPTEOffset">
    <xs:complexType>
      <xs:attribute name="TimeCodeType" type="xs:NMTOKEN" use="required" />
      <xs:attribute name="Hour" type="xs:NMTOKEN" use="required" />
      <xs:attribute name="Minute" type="xs:NMTOKEN" use="required" />
      <xs:attribute name="Second" type="xs:NMTOKEN" use="required" />
      <xs:attribute name="Frame" type="xs:NMTOKEN" use="required" />
      <xs:attribute name="FractionalFrame" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeSignature">
    <xs:complexType>
      <xs:attribute name="Numerator" type="xs:NMTOKEN" use="required" />
      <xs:attribute name="LogDenominator" type="xs:NMTOKEN" use="required" />
      <xs:attribute name="MIDIClocksPerMetronomeClick" type="xs:NMTOKEN" use="required" />
      <xs:attribute name="ThirtySecondsPer24Clocks" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="KeySignature">
    <xs:complexType>
      <xs:attribute name="Fifths" type="xs:NMTOKEN" use="required" />
      <xs:attribute name="Mode" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SequencerSpecific" type="xs:string" />
  <xs:element name="ProgramName" type="xs:string" />
  <xs:element name="DeviceName" type="xs:string" />
  <xs:element name="XMFPatchTypePrefix">
    <xs:complexType>
      <xs:attribute name="Value" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Port">
    <xs:complexType>
      <xs:attribute name="Value" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="OtherMetaEvent">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="Number" type="xs:NMTOKEN" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemExclusive" type="xs:string" />
  <xs:element name="EndOfExclusive" type="xs:string" />
  <xs:element name="MIDIFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Format" />
        <xs:element ref="TrackCount" />
        <xs:choice>
          <xs:element ref="TicksPerBeat" />
          <xs:sequence>
            <xs:element ref="FrameRate" />
            <xs:element ref="TicksPerFrame" />
          </xs:sequence>
        </xs:choice>
        <xs:element ref="TimestampType" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Format" type="xs:string" />
  <xs:element name="TrackCount" type="xs:string" />
  <xs:element name="TicksPerBeat" type="xs:string" />
  <xs:element name="FrameRate" type="xs:string" />
  <xs:element name="TicksPerFrame" type="xs:string" />
  <xs:element name="TimestampType" type="xs:string" />
  <xs:element name="Track">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Event" />
      </xs:sequence>
      <xs:attribute name="Number" type="xs:NMTOKEN" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>